.wrapper {
  background-color: #f6f6f6;
}

.navbar {
    margin-bottom: 0;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: green;
}

.jumbotron {
  position: relative;
  background: #000 url("/assets/images/Background.jpg") center center;
  width: 100%;
  height: 500px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 0;
}

.jumbotron h1 {
   color: white;
   text-align: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.std-button {
  background-color: green;
  border-color: green;
  color: white;
}

.sign-up-button {
  margin-top: -150px;
}

#how-it-works {
  background-color: white;
}

.navbar .brand > img {
  max-height: 60px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

#front-page-navbar {
  padding-right: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    background-color: green;
    border-radius: 10px 10px 0px 0px;
}

.nav-centre {
  text-align: center;
}

.nav-centre > ul.nav {
  display: inline-block;
}

.nav-centre > ul.nav > li {
  display: inline;
}

.copy-panel {
  font-weight: 500;
  font-size: 26px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 100px;
  padding-right: 100px;
}

.copy-panel-left {
  border-right: 3px solid #ccc;
}

.copy-panel-right {
  border-left: 3px solid #ccc;
}

.copy-panel-outer-gray {
  background-color: #f6f6f6;
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.copy-panel-outer-white {
  background-color: white;
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.copy-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
}

#supplier-copy-1 {
  background: #000 url("/assets/images/supplier1.png") center center;
  background-color: transparent;
  max-width: 345px;
  max-height: 300px;
}

#supplier-copy-2 {
  background: #000 url("/assets/images/supplier2.png") center center;
  background-color: transparent;
  max-width: 500px;
  max-height: 300px;
}

#supplier-copy-3 {
  background: #000 url("/assets/images/supplier3.png") center center;
  background-color: transparent;
  max-width: 321px;
  max-height: 300px;
}

#buyer-copy-1 {
  background: #000 url("/assets/images/buyer1.png") center center;
  background-color: transparent;
  max-width: 400px;
  max-height: 270px;
}

#buyer-copy-2 {
  background: #000 url("/assets/images/buyer2.png") center center;
  background-color: transparent;
  max-width: 500px;
  max-height: 300px;
}

.copy-tabs {
  margin-top: 50px;
}

.copy-tab {
  width: 200px;
}

.price-plan {
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 0px 3px 8px 3px;
  height: 300px;
  margin: 50px 0px 100px 0px;
}

.price-plan h3 {
  padding-top: 50px;
  margin: 0;
  text-transform: uppercase;
}

.price-plan h3::after {
  border-bottom: 2px solid #dcdcdc;
  content: " ";
  display: block;
  width: 65px;
  margin: 14px auto 15px auto;
}

.price-plan::before {
  height: 10px;
  border-width: 10px;
  content: " ";
  border-bottom-style: solid;
  display: block;
  width: calc(100% + 6px);
  margin: 0px -3px;
}

.price-plan-title {
  margin-top: 50px;
  font-weight: 800;
}

.price-plan-basic::before {
  border-color: #b0e44f;
}

.price-plan-pro::before {
  border-color: #6fda44;
}

.price-plan-platinum::before {
  border-color: #37a000;
}

.price-plan-top {
  background-color: white;
  height: calc(100% - 5px);
}

.price-plan-top > span {
  font-weight: 700;
  display: block;
}

.price-plan-bottom {
  height: calc(45% - 5px);
}

.price-plan-font {
  font-weight: 450;
  font-size: 24px;
}

.text-centre {
  text-align: center;
}

.text-right {
  text-align: right;
}

.email-form {
  height: 400px;
  display: none;
}

#email-form-inner {
  padding-left: 20%;
  padding-right: 20%;
  min-width: 300px;
}

.send-button {
  margin-left: auto;
  margin-right: auto;
}

#thank-you {
  font-weight: 600;
  margin-top: 50px;
  display: none;
}
